.footer {
  padding: 20px 0 20px;
  background: #000000;
  flex: 0 0 auto;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.footer__copyright {
  font-size: 14px;
  color: rgba(255,255,255,.5);
}

.footer__links {
  display: flex;
  align-items: center;
}

.github {
  fill: rgba(255,255,255,.5);
  transition: .2s;
}

.github:hover {
  fill: #ffffff;
}